
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800;900&display=swap');

body {
  font-family: 'Raleway', Arial, sans-serif;
  background-color: white;
  overflow-x: hidden;
}

.body-container {
  background-color: #fafafa;
  margin: 60px;
  padding: 60px 90px;
  border-radius: 40px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: unset;
}

.d-flex {
  display: flex;
}

.nav-container {
  align-items: center;
  justify-content: space-between;
}

.logo-text {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 900;
}

.logo-subtext {
  font-weight: 400;
  font-size: 0.88em;
}

.logo-subtext::first-letter {
  text-transform: uppercase;
}

.right-links {
  display: inline-flex;
  font-size: 1.2em;
  font-weight: 700;
}

.right-links li:not(:last-child) {
  margin-right: 50px;
}

.hero {
  position: relative;
  margin: 7em 0 5em;
  width: 65%;
}

.hero p {
  font-size: 3.25em;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.25em;
}

.hero-buttons {
  margin-top: 3em;
}

button {
  width: 12em;
  height: 2.7em;
  border-radius: 15px;
  background-color: white;
  border: 2.5px solid #000;
  font-weight: bold;
  font-size: 1.12em;
  cursor: pointer;
}

button:focus {
  outline: none;
}

#explore-button {
  margin: 0 40px;
}

.primary-button {
  background-color: #000;
  color: #fff;
  -webkit-box-shadow: 0 15px 20px #777777b8;
  -moz-box-shadow: 0 15px 20px #777777b8;
  box-shadow: 0 15px 20px #777777b8;
}

#sushi-hero {
  position: absolute;
  width: 100%;
  max-width: 700px;
  top: -10%;
  left: 90%;
}

.slide-fading-animation {
  -webkit-animation: fading 1.5s ease-in-out;
  -moz-animation: fading 1.5s ease-in-out;
  -o-animation: fading 1.5s ease-in-out;
  animation: fading 1.5s ease-in-out;
}

.slide-fading-short-animation {
  -webkit-animation: fading-short 0.9s ease-in;
  -moz-animation: fading-short 0.9s ease-in;
  -o-animation: fading-short 0.9s ease-in;
  animation: fading-short 0.9s ease-in;
}

.slide-fading-shorter-animation {
  -webkit-animation: fading-shorter 0.9s ease-in;
  -moz-animation: fading-shorter 0.9s ease-in;
  -o-animation: fading-shorter 0.9s ease-in;
  animation: fading-shorter 0.9s ease-in;
}

@keyframes fading {
  0% {
    opacity: 0;
    transform: translate(1000px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fading-short {
  0% {
    opacity: 0;
    transform: translate(200px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fading-shorter {
  0% {
    transform: translate(50px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
