
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;900&display=swap');

body {
  font-family: 'Raleway', Arial, sans-serif;
  background-color: white;
}

.body-container {
  background-color: #fafafa;
  margin: 60px;
  padding: 60px 90px;
  border-radius: 40px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: unset;
}

.d-flex {
  display: flex;
}

.nav-container {
  align-items: center;
  justify-content: space-between;
}

.logo-text {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 900;
}

.logo-subtext {
  font-weight: 400;
  font-size: 0.88em;
}

.logo-subtext::first-letter {
  text-transform: uppercase;
}

.right-links {
  display: inline-flex;
  font-size: 1.2em;
  font-weight: 700;
}
.right-links li{
  margin-right: 30px;
}
